.category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

input {
    height: 30px;
    border: none;
    border-radius: 5px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    
    white-space: pre-line;
}

h3 {
    margin-bottom: 0; 
}

.addBtn {
    background: #737373;
    border: none;
    height: 25px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.addBtn:hover, .addBtn:focus {
    background: #5c5b5b;
    cursor: pointer;
}