
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.content {
  display: flex;
  flex-direction: column;
  font-family: 'sans-serif';
  min-width: 100vw;
  min-height: 100vh;
  background-color: #d4d4d4;
  gap: 50px;
}

.mainContent {
  display: flex;
  justify-content: space-around;
  
}

.header {
  background: #737373;
  
  /* padding-left: 10%; */
  min-height: 80px;
  height: 10vh;
  width: 100%;
}

#headerText {
  font-family: 'Anton', sans-serif;
  margin-left: 10%;
  font-size: 55px;
  font-weight: bold;
  color: white;
} 

.form {
  background: #e4e4e7;
  border-radius: 6px;
  padding: 20px;
  width: 30%;
  
}